{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="form-group">{{ form_row(form.mail) }}</div>
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
